@charset "utf-8";
/* CSS Document */

.btn{
	letter-spacing: .5px;
	font-size: 14px;
	padding: 7px 16px;
	border: 0;
}
.btn-small{
	padding: 5px 12px;
	font-size: 12px;
}
.btn-big{
	padding: 14px 30px;
}
.btn-success{
	background-color: #91C71A;
	border: 1px solid #91C71A;
}
.btn-lyt-blue{
	background-color: #7A9FE9;
	color: white;
}
.btn-outline{
	border: 1px solid #cccccc;
	color: #202224;
	opacity: 0.7;
}
.btn-outline-danger {
    border: 1px solid #dc3545;
}
.form-control{
	height: 50px;
}
.form-control::placeholder{
	font-size: 14px;
}

.modal-backdrop {
    background-color: #2460D8;
}
.btn-success-outline{
	color: #91C71A;
	border: 1px solid #91C71A;
}
.cancel-plan{
	background-color: #EE99AA;
	border: 1px solid #E91741;
	color: white;
}
