@charset "utf-8";
/* CSS Document */

.stat-appointments, .stat-tickets, .stat-revenue, .stat-clients{
	position: relative;
}
.stat-appointments::after{
	content: "";
	position: absolute;
	right: 20px;
	top: 20px;
	height: 54px;
	width: 54px;
	background: url(../images/icon-appointments.png)
}
.stat-tickets::after{
	content: "";
	position: absolute;
	right: 20px;
	top: 20px;
	height: 54px;
	width: 54px;
	background: url(../images/icon-ticket.png)
}
.stat-revenue::after{
	content: "";
	position: absolute;
	right: 20px;
	top: 20px;
	height: 54px;
	width: 54px;
	background: url(../images/icon-revenue.png)
}
.stat-clients::after{
	content: "";
	position: absolute;
	right: 20px;
	top: 20px;
	height: 54px;
	width: 54px;
	background: url(../images/icon-clients.png);
}
.stat-compare-pos{
	background: url(../images/ic-trending-up-24px.png) center left no-repeat;
	padding-left: 30px;
	margin-top: 30px;
}
.stat-compare-neg{
	background: url(../images/ic-trending-down-24px.png)center left no-repeat;
	padding-left: 30px;
	margin-top: 30px;
}
.noty-db li{
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid #e1e1e1;
}
.noty-db li:last-child{
	padding-bottom: 0;
	border: none;
}
.noty-db li .media-body{
	padding-left: 15px;
}
.noty-db li .media-body p{
	font-family: neuzit-reg;
	color: #202224;
}
.noty-icon{
	height: 51px;
	width: 51px;
	border-radius: 100%;
	text-align: center;
	line-height: 51px;
	font-size: 24px;
	font-family: visby-demi;
	color: white;
}
.noty-clr-1{
	background-color: #FFC107;
}
.noty-clr-2{
	background-color: #B0D65A;
}
.noty-clr-3{
	background-color: #6C92DE;
}
.toast.show {
    position: fixed;
    right: 30px;
    z-index: 10;
    bottom: 16px;
    background-color: #515151;
}
.toast.show .close {
    color: #fff;
	opacity: .7;
    text-shadow: none;
}
.toast-header {
    background-color: #515151;
	color: white;
}
.toast-msg{
    color: white;
	opacity: 0.8;
}
#verifyModal .modal-body {
    padding-left: 30px;
    padding-right: 30px;
}
#verifyModal .modal-footer {
    border-top: none;
    padding: 0 30px 30px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #f9f9f9;
    opacity: .7;
}
.modal-footer>* {
    margin: 0;
}
.verify-select{
	padding-right: 0;
}
.verify-select .form-control{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: 0;
}
.verify-input{
	padding-left: 0;
}
.verify-input .form-control{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

@media (max-width: 762px){
	.mb-width{
		width: 50%;
	}
}
@media (max-width: 619px){
	.mb-width{
		width: 100%;
	}
}





