@charset "utf-8";
/* CSS Document */

.filter-appointment {
	overflow-x: auto;
}
.filter-appointment::-webkit-scrollbar {
    display: none;
}
.filter-appointment {
    -ms-overflow-style: none;
}
.filter-appointment ul{
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	font-family: neuzit-reg;
	font-size: 0;
	width: 791.19px;
}
.filter-appointment li{
	border-right: 1px solid #e1e1e1;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
}
.filter-appointment li:last-child{
	border-right: none;
}
.filter-label{
	background: url(../images/filter.png) center left 28px no-repeat;
	padding-left: 60px !important;
	padding-right: 30px;
	background-color: #F9F9FB !important;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.filter-date{
	background: url(../images/caret-down.png) center right 28px no-repeat;
	padding-left: 35px !important;
	padding-right: 60px;
	background-color: #fff;
	position: relative;
}
.filter-ID{
	background: url(../images/caret-down.png) center right 28px no-repeat;
	padding-left: 35px !important;
	padding-right: 60px;
	background-color: #fff;
	position: relative;
}
.dropItem{
	position: absolute;
	z-index: 2;
	width: 385px;
	top: 50px;
	box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
	border-radius: 15px;
	display: block;
}
.itemID{
	left: 178px;
}
.filter-status{
	background: url(../images/caret-down.png) center right 28px no-repeat;
	padding-left: 35px !important;
	padding-right: 60px;
	background-color: #fff;
	position: relative;
}
.filter-reset{
	background: url(../images/reset.png) center left 28px no-repeat;
	padding-right: 35px !important;
	padding-left: 60px;
	color: #EA0234;
}
.table {
    border-top: none;
}
.table thead th.first {
	border-top-left-radius: 15px;
}
.table thead th {
	border-top: none;
}
.table thead th.last {
	border-top-right-radius: 15px;
}
.job-list-table{
	border-radius: 15px;
	border: 1px solid #e1e1e1;
}
.app-list .card{
	border: none;
}
.pagination{
	margin-top: 20px;
	display: block;
}
.pagination .page-count{
	line-height: 14px;
	margin-top: 8px;
	float: left;
	display: inline-block;
}
.pagination ul{
	border: 1px solid #e1e1e1;
	border-radius: 8px;
	font-size: 0;
	float: right;
}
.pagination ul li{
	height: 24px;
	width: 24px;
	display: inline-block;
	font-size: 24px;
	padding: 14px 18px;
}
.pagination ul li.prev{
	background: url(../images/caret-left.png) center center no-repeat;
	border-right: 1px solid #e1e1e1;
}
.pagination ul li.next{
	background: url(../images/caret-right.png) center center no-repeat;
}
.job-list-table button{
	width: 100px;
}

/****** APOINMENT DETAIL BEGINS ******/

.back-arrow{
	background: url(../images/back-arrow.svg) center left no-repeat;
	padding-left: 40px;
}
.client-img{
	height: 220px;
	background: url(../images/client-img.jpg) center center no-repeat;
	background-size: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
/*
	border-top: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
	border-left: 10px solid #ffffff;
*/
}
.app-deets-wrap{
	height: 559px;
}
.app-deets{
	padding-right: 50px;
	border-right: 1px solid #e1e1e1;
}
.app-duration li, .app-payment li{
	margin-right: 50px;
}
.app-duration li:last-child, .app-payment li:last-child{
	margin-right: 0;
}
.client-convo-wrap{
	height: 519px;
	overflow-y: auto;
	padding-right: 20px;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.chat-bubble{
	border-radius: 15px;
	padding: 20px;
}
.client-chat-bubble{
	border-bottom-right-radius: 0;
}
.client-bio-btn{
	display: none;
}

/****** APPOINTMENT DETAIL END ******/

/*** NEW STYLES BEGINS ***/

.db-appointment .modal-header{
	border-bottom: none;
	padding: 30px 30px 0;
}
.db-appointment .modal-header h5{
	font-size: 24px;
	line-height: 30px;
}
.db-appointment .modal-body{
	padding: 20px 30px;
}
.db-appointment .modal-footer{
	border-top: none;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

/*** NEW STYLES ENDS ***/

@media (max-width: 1400px){
	.app-deets{
		padding-right: 20px;
	}
}
@media (max-width: 1245px){
	#client-info{
		display: none;
	}
	#app-deets{
		width: 100% !important;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 991px){
	.app-deets-wrap{
		height: inherit;
	}
	.app-deets{
		padding-right: 0;
		border-right: none;
	}
}




