@charset "utf-8";
/* CSS Document */


@font-face{
	font-family: neuzit-book;
	src: url(../fonts/Neuzeit/NeuzeitSBook.ttf);
}
@font-face{
	font-family: neuzit-reg;
	src: url("../fonts/Neuzeit/Neuzeit Grotesk W01 Regular.otf");
}
@font-face{
	font-family: visby-med;
	src: url("../fonts/Visby/VisbyCF-Medium.otf");
}
@font-face{
	font-family: visby-demi;
	src: url("../fonts/Visby/VisbyCF-DemiBold.otf");
}
@font-face{
	font-family: visby-bold;
	src: url("../fonts/Visby/VisbyCF-Bold.otf");
}

body{
	font-family: neuzit-book;
	font-size: 14px;
	color: #707070;
	letter-spacing: 0.5px;
}
h1, h2, h3, h4, h5, h6{
	font-family: visby-bold;
	color: #202224;
}
h2{
	font-size: 28px;
	letter-spacing: 0.5px;
}
h3{
	font-size: 25px;
	letter-spacing: .3px;
}
h5{
	font-size: 18px;
	letter-spacing: .3px;
}
h6{
	font-size: 16px;
	letter-spacing: .2px;
}
.font-black{
	color: #313131;
}
.font-blue{
	color: #2460D8;
}
.font-yellow{
	color: #FFC107;
}
.font-slim{
	font-family: neuzit-book;
}
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
	font-family: neuzit-book;
}
.font-14-reg{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
	letter-spacing: 0.6px;
}
.font-18{
	font-size: 18px;
	letter-spacing: 0.6px;
}
.font-20{
	font-size: 20px;
}
.font-24{
	font-size: 24px;
	line-height: 24px;
}
.font-grey{
	color: #888888;
}
.font-green{
	color: #91C71A;
}
.font-demi-bold{
	font-family: visby-demi;
}
.font-body-reg{
	font-family: neuzit-reg;
}
.h-weight-med{
	font-family: visby-med;
}
.b-weight-reg{
	font-family: neuzit-reg;
}
.font-black{
	color: #202224;
}
.font-green{
	color: #91C71A;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}
.container-fluid{
	padding-left: 30px;
	padding-right: 30px;
}
.navbar{
	padding-left: 30px;
	padding-right: 30px;
}
.card{
	border-radius: 15px;
	border: 1px solid #E1E1E1;
}
.table thead th {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
	background-color: #FBFBFB;
	font-family: neuzit-book;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.5px;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: .75rem !important;
}
.table thead th.first {
	padding-left: 20px !important;
}
th{
	font-weight: normal;
	padding-left: 20px !important;
}
.table td, .table th {
	padding: 1rem .75rem;
    border-top: 1px solid #e1e1e1;
}
.table tbody tr:last-child td, .table tbody tr:last-child th {
	padding-bottom: 0;
}
.small-txt{
	font-size: 13px;
	line-height: 16px !important;
}
.header-wrap, .app-body {
	display: flex;
}
.bg-grey{
	background-color: #f7f7f7;
}
.bg-grey-lyt{
	background-color: #FCFBFB;
}
.bg-blue-lyt{
	background-color: #7A9FE9;
}

.mb-20{
	margin-bottom: 20px;
}
.dashboard-icon-mob{
    display: inline-block;
}
.app-logo {
    background-color: #0F14B9;
    height: 65px;
    width: 300px;
    padding-left: 30px;
    padding-top: 19px;
}
.logo-d{
	display: block;
}
.logo-m{
	display: none;
}
.app-nav {
    background-color: #ffffff;
    width: calc(100% - 300px);
    height: 65px;
    right: 0;
}
.app-nav ul li {
    padding-left: 50px;
}
.app-nav ul li:first-child {
    padding-left: 0;
}
.nav-link {
    padding: 0;
}
.user-nav{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 2px;
}
.user-nav img{
	width: 45px;
	height: 45px;
	margin-right: 10px;
}
.sidebar-panel{
	width: 300px;
    background-color: #0F14B9;
	padding-top: 20px;
	padding-bottom: 40px;
	height: calc(100vh - 65px);
	position: relative;
}
.sidebar-panel ul{
	font-family: neuzit-reg;
	font-size: 16px;
}
.sidebar-panel ul li:first-child{
	padding-bottom: 15px;
	color: #9DB9F1;
	padding-left: 30px;
	font-size: 14px;
}
.sidebar-panel ul li a{
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	padding-left: 30px;
	color: #C8D8F8;
	letter-spacing: 0.3px;
}
.sidebar-panel ul li a:hover{
	background-color: #152ECF;
	text-decoration: none;
}
.sidebar-panel ul li a.active{
	background-color: #2460D8;
	color: white;
}
.footer{
	position: absolute;
	left: 30px;
	color: #C8D8F8;
	bottom: 40px;
	font-family: neuzit-reg;
	font-size: 16px;
	letter-spacing: 0.3px;
}
.footer small{
	font-size: 13px;
	opacity: .7;
}
.body-panel{
	width: calc(100% - 300px);
	height: calc(100vh - 65px);
	overflow: auto;
	padding-bottom: 10px;
}
.page-title-section{
	padding-top: 30px;
	padding-bottom: 30px;
}
.page-title{
	line-height: 28px
}
.notification-wrap{
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 344px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
	color: white;
}
.notification-wrap .noti-info{
	line-height: 18px;
	opacity: .9;
}
.notification-wrap .close{
	color: white;
	text-shadow: none;
	line-height: 0;
    opacity: .9 !important;
    margin-top: 7px;
}
.notification-wrap .close:hover{
    opacity: 1 !important;
}
.noti-success{
	background-color: #1AC77C;
}
.noti-success h6{
	color: white;
}
.noti-success .btn-dismiss{
	background-color: white;
	color: #1AC77C;
	font-family: neuzit-reg;
}
.noti-error{
	background-color: #EE617D;
}
.noti-error .btn-dismiss{
	background-color: white;
	color: #EE617D;
	font-family: neuzit-reg;
}
.noti-network-issue{
	background-color: #858585;
}
.noti-network-issue .btn-dismiss{
	background-color: white;
	color: #858585;
	font-family: neuzit-reg;
}
ul li.noti-entry{
	padding-left: 0;
}

/***** HEADER MENU WHEN LOGGED IN BEGINS *****/

.navbar .recent-act-wrap .dropdown-menu{
	width: 328px;
}
.navbar .dropdown-menu{
	padding: 20px;
	right: 0;
	left: auto;
	color: #858585;
	top: 36px;
}
.navbar .dropdown-toggle::after {
    content: none;
}
.navbar .profile .dropdown-item{
	padding-left: 0;
	padding-right: 0;
}
.navbar .recent-act-wrap, .navbar .profile{
	position: relative;
}
.navbar .recent-act{
	position: relative;
}
.navbar .recent-act .recent-act-label{
	position: absolute;
	font-size: 10px;
	height: 15px;
	width: 15px;
	line-height: 15px;
	border-radius: 200px;
	background-color: #D93A3A;
	color: white;
	text-align: center;
	right: -7px;
}
.drop-noti-header p{
	letter-spacing: 2px;
	margin-top: 2px;
}
.notif-entry-wrap li {
	border-bottom: 1px solid #e1e1e1;
	padding-top: 20px;
	padding-bottom: 20px;
}
.notif-entry-wrap li:last-child {
	border-bottom: none;
}
.notif-entry-wrap li a{
	color: #858585;
}
.notif-entry-wrap li a:hover{
	text-decoration: none;
}
.noti-label{
	height: 51px;
	width: 51px;
	border-radius: 100%;
	font-size: 24px;
	font-family: visby-demi;
	color: white;
	line-height: 51px;
	text-align: center;
}
.noti-label-yellow{
	background-color: #FFC107;
}
.noti-label-green{
	background-color: #B0D65A;
}
.noti-label-blue{
	background-color: #6C92DE;
}
.noti-bell{
	font-size: 22px;
	color: #313131;
}

/***** HEADER MENU WHEN LOGGED IN ENNS *****/

@media (max-width: 1300px){
	.app-logo {
		width: 250px;
	}
	.app-nav {
		width: calc(100% - 250px);
	}
	.sidebar-panel{
		width: 250px;
	}
	.body-panel{
		width: calc(100% - 250px);
	}
}
@media (max-width: 1199px){
	.app-logo {
		width: 300px;
	}
	.app-nav {
		width: calc(100% - 300px);
	}
	.sidebar-panel{
		width: 300px;
	}
	.body-panel{
		width: calc(100% - 300px);
	}
}
@media (max-width: 910px){
	.app-logo {
		width: 200px;
	}
	.app-nav {
		width: calc(100% - 200px);
	}
	.sidebar-panel{
		width: 200px;
	}
	.body-panel{
		width: calc(100% - 200px);
	}
	.job-list-table table{
		width: 910px !important;
	}
}
@media (max-width: 810px){
	.navbar, .container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
	.app-logo {
		padding-left: 20px;
	}
	.app-nav ul li {
		padding-left: 40px;
	}
	.user-nav {
		margin-left: 40px;
		margin-right: 40px;
	}
	.sidebar-panel ul li:first-child {
		padding-left: 20px;
	}
	.sidebar-panel ul li a {
		padding-left: 20px;
	}
	.footer {
		left: 20px;
	}
}
@media (max-width: 745px){
	.app-logo {
		background-color: white;
	}
	.app-nav ul {
		display: none !important;
	}
	.logo-d{
		display: none;
	}
	.logo-m{
		display: block;
	}
	.sidebar-panel ul li:first-child, .footer {
		display: none;
	}
	.body-panel {
		width: 100%;
		padding-bottom: 65px;
	}
	.dashboard-link-desk{
		display: none;
	}
	.dashboard-icon-mob{
		width: 35px;
		height: 35px;
		display: inline-block;
		opacity: 0.7;
/*		background-color: #C8D8F8;*/
	}
	.dashboard-icon{
		background-image: url(../images/dashboard.svg);
	}
	.appointment-icon{
		background-image: url(../images/appointment.svg);
	}
	.revenue-icon{
		background-image: url(../images/revenue.svg);
	}
	.ticket-icon{
		background-image: url(../images/envelope.svg);
	}
	.review-icon{
		background-image: url(../images/review.svg);
	}
	.sidebar-panel {
		width: 100%;
		background-color: #0F14B9;
		padding-top: 0;
		padding-bottom: 0;
		height: 65px;
		position: fixed;
		bottom: 0;
		z-index: 2;
	}
	.sidebar-panel ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 65px;
	}
	.sidebar-panel ul li{
		width: 100%;
		text-align: center;
	}
	.sidebar-panel ul li a{
		padding: 0;
		border-radius: 0;
		height: 65px;
		line-height: 5.5;
	}
	.sidebar-panel ul li a.active .dashboard-icon-mob{
		opacity: 1;
	}
	.navbar{
		display: flex;
		justify-content: flex-end;
	}
	.job-list-table table{
		width: 745px !important;
	}
}
@media (max-width: 619px){
	.navbar a.btn-outline{
		display: none;
	}
	.app-logo{
		width: 160px;
	}
	.app-nav {
		width: calc(100% - 160px);
	}
	.user-nav{
		margin-left: 0;
	}
}
@media (max-width: 413px){
	.user-nav{
		margin-right: 20px;
	}
	.user-nav img {
		width: 40px;
		height: 40px;
		margin-right: 5px;
	}
	.navbar h6 {
		font-size: 14px;
		letter-spacing: .2px;
	}
}




