@charset "utf-8";
/* CSS Document */

.week-stat-piechart{
	background: url(../images/rev-week.png) center center no-repeat;
	height: 37px;
	width: 37px;
	margin-top: 5px;
}
.curr-week{
	position: relative;
	padding-left: 12px;
}
.curr-week::before{
	content: "";
	width: 7px;
	height: 7px;
	background-color: #1CCAB8;
	position: absolute;
	border-radius: 100%;
	top: 9px;
	left: 0;
}
.past-week{
	position: relative;
	padding-left: 12px;
}
.past-week::before{
	content: "";
	width: 7px;
	height: 7px;
	background-color: #FFC107;
	position: absolute;
	border-radius: 100%;
	top: 9px;
	left: 0;
}
.month-stat-piechart{
	background: url(../images/rev-month.png) center center no-repeat;
	height: 37px;
	width: 37px;
	margin-top: 5px;
}
.curr-month{
	position: relative;
	padding-left: 12px;
}
.curr-month::before{
	content: "";
	width: 7px;
	height: 7px;
	background-color: #2460D8;
	position: absolute;
	border-radius: 100%;
	top: 9px;
	left: 0;
}
.past-month{
	position: relative;
	padding-left: 12px;
}
.past-month::before{
	content: "";
	width: 7px;
	height: 7px;
	background-color: #61F187;
	position: absolute;
	border-radius: 100%;
	top: 9px;
	left: 0;
}
.revenue-total{
	border-bottom: 1px solid #e1e1e1;
}
.sort-wrap ul li{
	border: 1px solid #e1e1e1;
	margin-left: -1px;
}
.sort-wrap ul li .btn{
	border-radius: 0;
}
.sort-wrap ul li:first-child, .sort-wrap ul li:first-child .btn{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.sort-wrap ul li:last-child, .sort-wrap ul li:last-child .btn{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.sort-wrap ul li.active button{
	background-color: #2460D8;
	color: white;
}
.sort-text{
	margin-right: 15px;
}
.sort-options-wrap li{
	width: 50%;
}
.sort-options ul li:last-child{
	float: right;
}
.sort-options .form-control{
	height: 35px;
}

@media(max-width: 1130px){
	.rev-stats, .graph-wrap{
		max-width: 100%;
    	flex: 0 0 100%;
		display: flex;
	}
	.rev-stats .card{
		max-width: calc(50% - 10px);
    	flex: 0 0 50%;
	}
	.rev-stats .rev-week-stat{
		margin-right: 10px;
	}
	.rev-stats .rev-month-stat{
		margin-left: 10px;
	}
}
@media(max-width: 450px){
	.rev-stats{
		display: block;
	}
	.rev-stats .card{
		max-width: 100%;
    	flex: 0 0 100%;
	}
	.rev-stats .rev-week-stat{
		margin-right: 0;
	}
	.rev-stats .rev-month-stat{
		margin-left: 0;
	}
}


