@charset "utf-8";
/* CSS Document */

#face-capture{
	text-align: center;
	margin-bottom: 40px;
}
.logo-wrap{
	height: 80px;
	line-height: 80px;
	margin-bottom: 40px;
}
.logo-wrap img{
	width: 141px;
}
.img-taken{
	width: 500px;
	display: inline-block;
	cursor: pointer;
}
#face-capture .modal-content {
    background-color: transparent;
    border: none;
}
#face-capture .close {
	color: white;
	font-weight: normal;
	text-shadow: unset;
	font-size: 16px;
	margin-bottom: 10px;
	opacity: 1;
}
#face-capture .modal-body {
	padding: 0;
}
.modal-backdrop {
    background-color: #2460D8;
	opacity: .5;
}
@media(max-width: 800px){
	.img-taken{
		width: 100%;
	}
}