@charset "utf-8";
/* CSS Document */

#hero{
	background: url(../images/hero2.jpg) no-repeat center right;
	height: 500px;
	background-size: cover;
}
.hero{
	position: relative;
	height: 500px;
}
.hero-getstarted{
	padding: 40px;
	width: 400px;
	background-color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#mainbody{
	padding-top: 90px;
	padding-bottom: 90px;
}
.benefit-img{
	background: url(../images/assured-img2.jpg) no-repeat center center;
	height: 450px;
	border: 15px solid #ffffff;
}
.benefit-intro{
	position: absolute;
	background-color: white;
	padding: 40px;
	width: 450px;
	left: 580px;
    top: 62%;
}
.benefit-wrap{
	padding-top: 160px;
}
.benefit{
	padding-left: 50px;
	position: relative;
	margin-top: 40px;
}
.benefit::before{
	content: "";
	background-image: url("../images/login.svg");
	background-size: cover;
	height: 31px;
	width: 31px;
	position: absolute;
	left: 0;
	top: -5px;
}

/***** PRICING PLAN BEGINS *****/

#pricing{
	padding-top: 90px;
	padding-bottom: 90px;
}
.plan-wrap{
	padding: 30px 30px 35px 30px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	height: 322px;
	position: relative;
}
.plan-wrap.focus{
	border: 1.5px solid #2460D8;
}
.plan-type{
	font-size: 21px;
	line-height: 21px;
	font-family: visby-reg;
}
.plan-cost{
	font-size: 35px;
	line-height: 35px;
	padding-top: 18px;
	padding-bottom: 18px;
	font-family: visby-bold;
}
.plan-benefit p{
	margin-bottom: 24px;
	line-height: 18px;
}
.monthly-btn{
	position: absolute;
	bottom: 35px;
}

/***** PRICING PLAN ENDS *****/

@media (max-width: 1440px){
	.benefit-intro {
		left: 450px;
	}
}
@media (max-width: 1024px){
	.benefit-intro {
		left: 350px;
	}
}
@media (max-width: 767px){
	.hero-getstarted {
		padding-left: 100px;
		padding-right: 100px;
		width: inherit;
		background-color: transparent; 
		text-align: center;
	}
	#hero {
		background: url(../images/hero-mobile2.jpg) no-repeat center center;
		height: 400px;
		color: white;
	}
	#hero h1{
		font-size: 40px;
		line-height: 46px;
		color: white;
	}
	#hero p{
		opacity: 0.8;
	}
	.hero {
		height: 400px;
	}
	.benefit-img{
		height: 350px;
	}
	.benefit-intro{
		width: 100%;
		left: 0;
		top: 350px;
	}
	.benefit-wrap {
		padding-top: 240px;
	}
}
@media (max-width: 670px){
	.hero-getstarted {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (max-width: 570px){
	.hero-getstarted {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 500px){
	.benefit-wrap {
		padding-top: 300px;
	}
	#hero h1{
		font-size: 35px;
		line-height: 40px;
	}
}
@media (max-width: 350px){
	.benefit-wrap {
		padding-top: 380px;
	}
}

