@charset "utf-8";
/* CSS Document */

#landing-nav{
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #cccccc;
	color: #515151;
}
#landing-nav a.navlink{
	color: #515151;
}
#landing-body{
	padding-top: 60px;
	padding-bottom: 60px;
}
.plan-wrap .custom-checkbox{
	margin-bottom: 60px;
}
.plan-wrap .custom-control-label::before, 
.plan-wrap .custom-control-label::after {
    top: 0;
    width: 2rem;
    height: 2rem;
}

/***** REGISTRATION PROCESS BEGINS *****/

/***** SETUP SUBSCRIPTION PAYMENT BEGINS *****/

.lock-secure{
	background: url("../images/secure-payment.svg") no-repeat center right;
	text-align: right;
	padding-right: 18px;
}
.payment-options{
	border: 1px solid #cccccc;
	color: #515151;
	height: 55px;
	padding-left: 16px;
	padding-right: 16px;
	line-height: 55px;
	border-radius: 5px;
	background: url("../images/card-icons.png") no-repeat center left 200px,
		url("../images/payment-chevron.svg") no-repeat center right 16px;
	margin-top: 5px;
}

/***** SETUP SUBSCRIPTION PAYMENT ENDS *****/

/***** SETUP CARD BEGINS *****/

.card-info li{
	width: 100%;
}
.card-info li{
	display: flex;
	margin-top: 35px;
}
.card-info li p.entry-title{
	width: 40%;
}
.card-info li p{
	margin-bottom: 0;
}
.card-info li p.entry-value{
	width: 60%;
}

/***** SETUP CARD ENDS *****/

.reg-steps li{
	text-align: center;
	width: 25%;
}
.reg-steps li .reg-step{
	height: 64px;
	width: 64px;
	line-height: 64px;
	text-align: center;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	z-index: 2;
	background-color: white;
}
.reg-steps li .reg-step::before{
	content: "";
	position: absolute;
	border: 2px solid #cccccc;
	height: 64px;
	width: 64px;
	border-radius: 100%;
	left: 0;
	z-index: 2;
}
.reg-steps li .reg-step::after{
	content: "";
	position: absolute;
	height: 2px;
	background-color: #cccccc;
	width: 150px;
	top: 50%;
	right: -150px;
	transform: translateY(-50%);
	z-index: 1;
}
.reg-steps li:last-child .reg-step::after{
	content: "";
	display: none;
}
.reg-steps li.active .reg-step::after{
	background-color: #91C71A;
}
.reg-steps li.active .reg-step::before{
	border-color: #91C71A;
}
.reg-steps li.active .reg-step{
	color: #91C71A;
}
.step-title.active{
	color: #91C71A;
}
.reg-body{
	padding-left: 50px;
	padding-right: 50px;
}
.verify-wrap{
	position: relative;
}
.verify-btn{
	position: absolute;
	top: 6px;
	right: 6px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #f9f9f9;
    opacity: .7;
}
#verifyModal .col{
	padding-right: 7.5px;
	padding-left: 7.5px;
}
#verifyModal .row{
	margin-left: -7.5px;
	margin-right: -7.5px;
}
#verifyModal .modal-body{
	padding-left: 30px;
	padding-right: 30px;
}
#verifyModal .modal-footer{
	border-top: none;
	padding: 0 30px 30px;
}

/***** REGISTRATION PROCESS ENDS *****/


@media(max-width:802px){
	.reg-body {
		padding-left: 0;
		padding-right: 0;
	}
}
@media(max-width:768px){
	.reg-steps li .reg-step::after{
		width: 120px;
		right: -120px;
	}
}
@media(max-width:538px){
	.reg-steps li .reg-step::after{
		width: 90px;
		right: -90px;
	}
}
@media(max-width:388px){
	.reg-steps li .reg-step::after{
		width: 70px;
		right: -70px;
	}
}
