@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: neuzit-book;
	src: url("../fonts/Neuzeit/NeuzeitSBook.ttf");
}
@font-face{
	font-family: neuzit-reg;
	src: url("../fonts/Neuzeit/Neuzeit Grotesk W01 Regular.otf");
}
@font-face{
	font-family: visby-reg;
	src: url("../fonts/Visby/VisbyCF-Regular.otf");
}
@font-face{
	font-family: visby-demi;
	src: url("../fonts/Visby/VisbyCF-DemiBold.otf");
}
@font-face{
	font-family: visby-bold;
	src: url("../fonts/Visby/VisbyCF-Bold.otf");
}

body{
	font-size: 16px;
	color: #858585;
	font-family: neuzit-reg;
	letter-spacing: .5px;
}
h1,h2,h3,h4,h5,h6{
	color: #313131;
	letter-spacing: 0;
	font-family: visby-bold;
}
h1{
	font-size: 40px;
	line-height: 46px;
}
h2{
	font-size: 35px;
}
.mb-20{
	margin-bottom: 20px;
}
.sec-text{
	letter-spacing: 1px;
}
.navbar, .container-fluid{
	padding-left: 200px;
	padding-right: 200px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}
.navbar{
	height: 70px;
}
.navbar-expand-lg .navbar-nav .nav-link.live {
    padding-right: 20px;
    padding-left: 20px;
	color: #313131;
	font-size: 22px;
}
.navbar-expand-lg .navbar-nav li:last-child .nav-link {
    padding-right: 20px;
}
.navbar .recent-act-wrap, .navbar .profile{
	position: relative;
}
.navbar .header-cta{
	margin-left: 20px;
}
.navbar .recent-act{
	position: relative;
}
.navbar .recent-act .recent-act-label{
	position: absolute;
	font-size: 10px;
	height: 15px;
	width: 15px;
	line-height: 15px;
	border-radius: 200px;
	background-color: #D93A3A;
	color: white;
	text-align: center;
	right: 14px;
}
.navbar .recent-act-wrap .dropdown-menu{
	width: 328px;
}
.navbar .dropdown-menu{
	padding: 20px;
	right: 0;
	left: auto;
	color: #858585;
}
.navbar .dropdown-toggle::after {
    content: none;
}
.navbar .profile .dropdown-item{
	padding-left: 0;
	padding-right: 0;
}
.modal-backdrop {
    background-color: #2460D8;
	opacity: .5;
}
.drop-noti-header p{
	letter-spacing: 2px;
	margin-top: 2px;
}
.notif-entry-wrap li {
	border-bottom: 1px solid #e1e1e1;
	padding-top: 20px;
	padding-bottom: 20px;
}
.notif-entry-wrap li:last-child {
	border-bottom: none;
}
.notif-entry-wrap li a{
	color: #858585;
}
.notif-entry-wrap li a:hover{
	text-decoration: none;
}
.noti-label{
	height: 51px;
	width: 51px;
	border-radius: 100%;
	font-size: 24px;
	font-family: visby-demi;
	color: white;
	line-height: 51px;
	text-align: center;
}
.noti-label-yellow{
	background-color: #FFC107;
}
.noti-label-green{
	background-color: #B0D65A;
}
.noti-label-blue{
	background-color: #6C92DE;
}
.bg-grey{
	background-color: #f7f7f7;
}
.bg-grey-lyt{
	background-color: #FCFBFB;
}
.bg-blue{
	background-color: #2460D8;
}
.logo{
	width: 140px;
}
.opacity-7{
	opacity: 0.7
}
.font-black{
	color: #313131;
}
.font-blue{
	color: #2460D8;
}
.font-yellow{
	color: #FFC107;
}
.font-slim{
	font-family: neuzit-book;
}
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
	font-family: neuzit-book;
}
.font-14-reg{
	font-size: 14px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-24{
	font-size: 24px;
	line-height: 24px;
}
.font-grey{
	color: #888888;
}
.font-green{
	color: #91C71A;
}
.font-demi-bold{
	font-family: visby-demi;
}
.checked-rating{
	color: #FFC107;
}
.unchecked-rating{
	color: #e1e1e1;
}
.footer-sub{
	padding-top: 30px;
	padding-bottom: 30px;
}
.inline-gs-txt{
	width: 600px;
}
.footer-coy-info{
	padding-top: 50px;
	padding-bottom: 50px;
}
#footer .sec-text{
	margin-bottom: 22px;
}
#footer .coy-links ul li{
	padding-top: 6px;
	padding-bottom: 6px;
}
#footer .coy-links ul li a, #footer .coy-abt ul li a{
	color: #858585;
}
.copyright{
	padding-top: 30px;
	padding-bottom: 50px;
	border-top: 1px solid #cccccc;
}
.nav-mobile{
	display: none !important;
}

@media (max-width: 1300px){
	.container-fluid, .navbar{
		padding-left: 150px;
		padding-right: 150px;
	}
}
@media (max-width: 1024px){
	.container-fluid, .navbar{
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media (max-width: 943px){
	.inline-gs-txt {
		width: 500px;
	}
}
@media (max-width: 843px){
	.inline-gs-txt {
		width: 440px;
	}
	.container-fluid, .navbar{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (max-width: 767px){
	h1{
		font-size: 35px;
		line-height: 40px;
	}
	h2{
		font-size: 30px;
	}
	.navbar .show{
		background-color: white;
		position: absolute;
		top: 70px;
		z-index: 2;
		right: 15px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 16px;
	}
	.login-sm{
		display: none;
	}
	.navbar-light .navbar-toggler {
		color: rgba(0,0,0,.5);
		border: none;
		padding: 0;
		outline: none;
	}
	.nav-mobile{
		position: fixed;
		z-index: 2;
		bottom: 0;
		display: flex !important;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.nav-mobile li a{
		color: white;
	}
	.coy-contact, .coy-links{
		margin-top: 50px;
	}
	.copyright{
		padding-bottom: 110px;
	}
}
@media (max-width: 650px){
	.container-fluid, .navbar{
		padding-left: 30px;
		padding-right: 30px;
	}
	.inline-gs-txt {
		width: 350px;
	}
}
@media (max-width: 600px){
	.footer-sub .d-flex{
		display: block !important;
		text-align: center;
	}
	.inline-gs-txt {
		width: 100%;
		margin-bottom: 30px;
	}
	.modal-dialog {
		margin: 20px;
	}

}
@media (max-width: 500px){
	.container-fluid, .navbar{
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*** PWA BEGINS ***/

#pwa-alert{
	background-color: #2460D8;
}
.pwa{
	height: 60px;
	line-height: 60px;
}
.pwa a{
	color: white;
}
.pwa .logo{
	width: 130px;
}
.modal-footer.pwa{
	border-top: none;
}

/*** PWA ENDS ***/



