@charset "utf-8";
/* CSS Document */

.set-noti-intro{
	border-bottom: 1px solid #cccccc;
}
.table td, .table th {
    padding: 1rem .75rem;
    border: none !important;
}
.table thead th {
    border-bottom: none;
    border-top: none;
    background-color: transparent;
    text-transform: none;
    font-size: 16px;
	font-family: neuzit-reg;
	color: #202224;
}
.font-reg{
	font-family: neuzit-reg;
}
.set-sub-wrap ul{
	display: flex;
	justify-content: space-between;
}
.set-sub-wrap ul li{
	width: 25%;
}
.set-bank-wrap ul li{
	display: inline-block;
	margin-right: 30px;
}

@media(max-width:1300px){
	.set-sub-wrap ul li{
		width: auto;
	}
}
@media(max-width:540px){
	.set-sub-wrap ul{
		display: block;
	}
	.set-sub-wrap ul li{
		width: 49%;
		display: inline-block;
	}
}