@charset "utf-8";
/* CSS Document */

.service-list{
	background-color: #FBFBFB;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px 15px;
}
.sp-profile-service{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 30px;
	margin-bottom: 50px;
}

.sp-link-modal .modal-body{
	padding: 40px;
	position: relative;
}

.sp-link-modal .modal-body .close{
	position: absolute;
	top: 15px;
    right: 20px;
	font-size: 2rem;
}
.sp-link-modal .modal-body .email ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	background: url("../images/icon-email.svg") no-repeat left center;
	padding-left: 25px;
}
.sp-link-modal .modal-body .email ::-moz-placeholder, .sp-link-modal .modal-body .email :-ms-input-placeholder {
	background: url("../images/icon-email.svg") no-repeat left center;
	padding-left: 25px;
}
.sp-link-modal .modal-body .fullname ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	background: url("../images/icon-user-modal.svg") no-repeat left center;
	padding-left: 25px;
}
.sp-link-modal .modal-body .fullname ::-moz-placeholder, .sp-link-modal .modal-body .fullname :-ms-input-placeholder {
	background: url("../images/icon-user-modal.svg") no-repeat left center;
	padding-left: 25px;
}
.sp-link-modal .modal-body .phone-modal ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	background: url("../images/icon-phone-modal.svg") no-repeat left center;
	padding-left: 25px;
}
.sp-link-modal .modal-body .phone-modal ::-moz-placeholder, .sp-link-modal .modal-body .phone-modal :-ms-input-placeholder {
	background: url("../images/icon-phone-modal.svg") no-repeat left center;
	padding-left: 25px;
}
.sp-link-modal .modal-body .lock-modal ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	background: url("../images/icon-lock-modal.svg") no-repeat left center;
	padding-left: 25px;
}
.sp-link-modal .modal-body .lock-modal ::-moz-placeholder, .sp-link-modal .modal-body .lock-modal :-ms-input-placeholder {
	background: url("../images/icon-lock-modal.svg") no-repeat left center;
	padding-left: 25px;
}

.close-sect{
	display: none;
}
.back-login{
	background: url("../images/back.svg") no-repeat center center;
	height: 16px;
	width: 16px;
	position: absolute;
	top: 22px;
    left: 20px;
	display: inline-block;
}

@media (max-width: 450px){
	.sp-link-modal .modal-body{
		padding: 30px 20px;
	}
}







