@charset "utf-8";
/* CSS Document */

.card-alt{
	border: none;
	border-radius: 0;
	background-color: white;
}
.provider-profile{
	padding-top: 20px;
	padding-bottom: 90px;
}
.sp-stat{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #cccccc;
}
.sp-profile-status{
	background: url(../images/sp-profile-status.png) center right no-repeat;
	height: 42px;
	line-height: 42px;
}
.provider-profile .rating{
	font-size: 14px;
}
.provider-profile .sp-service li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}
.provider-profile .sp-service li:last-child{
	border-bottom: none;
}
.provider-profile .nav-tabs {
    border-bottom: none;
	background-color: white;
}
.provider-profile .nav-tabs li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.provider-profile .nav-tabs li:last-child a {
	border-right: none;
}
.provider-profile .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-right: 1px solid #e1e1e1;
	color: #313131;
}
.provider-profile .nav-tabs .nav-item.show .nav-link, .provider-profile .nav-tabs .nav-link.active {
    color: #91C71A;
    border-color: #e1e1e1;
}
.provider-profile .sp-profile{
	padding: 60px;
}

.time-slots ul{
	overflow: auto;
	white-space: nowrap;
  -ms-overflow-style: none;
}
.time-slots ul::-webkit-scrollbar {
  display: none;
}
.time-slots ul li{
	display: inline-block;
	padding-right: 4px;
}
.time-slots ul li:last-child{
	padding-right: 0;
}
.time-slots ul li button{
	cursor: pointer;
}
.service-selected button.close{
	padding: 0;
	font-size: 25px;
}
.service-selected ul li{
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #cccccc;
}
.modal-backdrop {
    background-color: #2460D8;
}

/**** START FOR PROVIDER VIEW ****/

#staff ul{
	border-top: 1px solid #cccccc;
}
#staff ul li{
	border-bottom: 1px solid #cccccc;
	padding: 20px 5px 13px;
}
.staff-det{
	background: url(../images/staff-img-placeholder.png) no-repeat center left;
	padding-left: 65px;
	height: 42.67px;
	padding-top: 4px;
}
.staff-name {
	line-height: 1;
}
.staff-delete{
	background: url(../images/staff-delete.png) no-repeat center center;
	width: 16px;
	height: 42.67px;
	line-height: 42.67px;
}
.staff-edit{
	background: url(../images/edit.png) no-repeat center center;
	width: 20px;
	height: 42.67px;
	line-height: 42.67px;
	margin-left: 20px;
}

/**** END FOR PROVIDER VIEW ****/


@media (max-width: 520px){
	.provider-profile .sp-profile{
		padding: 40px;
	}
}
@media (max-width: 450px){
	.provider-profile .sp-profile{
		padding: 40px 20px;
	}
}